{% extends 'base.html' %}
{% block body %}
<div class="front-page"></div>
    <section class="container">
        <div class="row vertical-center-row">
            <div class="col-lg-12">
                <div class="row ">
                    <div class="col-sm-8 col-xs-offset-2">
                        <div class="jumbotron">
                          <h1>Welcome to TopoE!</h1>
                          <br>
                          <h3>Come with us, to discover that Energy is Geography.</h3>
                          <br>
                          <p style="font-size:14px">One of the largest restrictions which impacts energy policy is geography. Power plants are located in one place, people in another place, and the energy is moved over transmission lines with limited capacity between these locations. <br><br>

                          In order to assist the user in understanding this geography relevancy to our electric grid, TopoE is a web app which shows the fuel mix (gas, coal, solar, wind, nuclear, hydro) per state, and per county.  <br><br>

                          Users can modify this fuel mix and run a scenario calculator which shows the outcome of their “policy decisions”.
                          </p>
                          <p><a class="btn btn-primary btn-lg" href="/about" role="button">Learn more</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



{% endblock %}