

{% extends 'base.html' %}
{% block body %}

  <br>

  <main class="container-fluid">

    <div class="row">

      <!-- SECTION #1 = stuff above map, and map itself -->
      <section class="col-sm-6 col-sm-offset-1">

<!-- FIX THIS -->
        <!-- info above map -->
        <div class="row">
          <h2>States in the USA</h2>
          <br>
              <h4 id="instructions">Click on each state, and adjust the fuel mix!</h4>

                  <div id="scenario-div">
                    <form id="scenario">
                      <button class="btn btn-primary" id='submit'>
                      <span class="glyphicon glyphicon-play"></span>
                        Run Scenario</button>
                        <!-- Submit button will go here. -->
                        <h4 id="location-name"></h4>
                    </form>
                  </div>

              <div id="see-results" style='visibility:hidden'>
                <h2></h2>
              </div>
              <div id="display-results" style='visibility:hidden'>
                    <!-- This is where the scenario results will be displayed. -->
              </div>
        </div>

<!-- FIX THIS  END-->

        <div class="row">
          <div class="chart-wrapper">
              <div id="topomap">
                <!-- This is where the topojson is rendered. -->
              </div>
          </div>
        </div>

      </section>



      <!-- SECTION #2 = DONUT AND SLIDERS -->
      <section id="fuels-per-county" class="col-sm-3 col-sm-offset-1">

              <div class = "row">
                    <div class="chart-wrapper">
                      <div id="fuel-donut">
                        <!-- Fuel donut will go here. -->
                      </div>
                    </div>
              </div>

              <div class = "row">
                <div class = "col-sm-8 col-sm-offset-2">
                  <div id="slider-wrapper" style='visibility:hidden'>
                  <!-- <div id="slider-wrapper"> -->
                    <div class="slider-label">Natural Gas</div>
                    <span id="slider0text"></span>
                      <div id="slider0">
                        <!-- Slider0 will go here. -->
                      </div>
                    <br>
                    <div class="slider-label">Coal</div>
                    <span id="slider1text"></span>
                      <div id="slider1">
                        <!-- Slider1 will go here. -->
                      </div>
                    <br>
                    <div class="slider-label">Solar</div>
                    <span id="slider2text"></span>
                      <div id="slider2">
                        <!-- Slider2 will go here. -->
                      </div>
                    <br>
                    <div class="slider-label">Wind</div>
                    <span id="slider3text"></span>
                      <div id="slider3">
                        <!-- Slider3 will go here. -->
                      </div>
                    <br>
                    <div class="slider-label">Nuclear</div>
                    <span id="slider4text"></span>
                      <div id="slider4">
                        <!-- Slider4 will go here. -->
                      </div>
                    <br>
                    <div class="slider-label">Hydro</div>
                    <span id="slider5text"></span>
                      <div id="slider5">
                        <!-- Slider5 will go here. -->
                      </div>
                    <br>
                    <div class="slider-label">Other (geothermal, biomass)</div>
                    <span id="slider6text"></span>
                      <div id="slider6">
                        <!-- Slider6 will go here. -->
                      </div>
                  </div>
                </div>
              </div>

      </section>


      <section class="col-sm-1">
        <!-- right hand space/column -->
      </section>


    </div>
<!-- END ROW WITH THE MAP, DONUT, SLIDERS -->


  </main>

  <!-- Javascript -->

      <!-- d3, topojson, ajax, jquery, underscore.js -->
      <script src="http://d3js.org/d3.v3.min.js"></script>
      <script src="http://d3js.org/topojson.v1.min.js"></script>
      <script src="http://cdnjs.cloudflare.com/ajax/libs/c3/0.4.9/c3.min.js"></script>
      <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.2/underscore-min.js"></script>
      <!-- Scripts for this specific website -->
      <script src="/static/maps/d3.slider.js"></script>
      <script src="/static/maps/d3.tip.js"></script>
      <script src="/static/maps/scripts_usa_map.js"></script>



{% endblock %}


